<script>
  let bg = document.getElementById('page-bg');
  bg.style.setProperty('will-change', 'filter', '');
  let hue = 0;

  // Dark mode support
  let isDark = document.documentElement.classList.contains('dark');
  document.addEventListener('hbThemeChange', (e) => {
    console.debug('Theme changed - isDarkTheme? ' + e.detail.isDarkTheme());
    isDark = e.detail.isDarkTheme();
  });

  setInterval(
    function () {
      hue = 1 % 360.; //

      if (isDark) {
        bg.style.setProperty('filter', 'hue-rotate(' + hue + 'deg)  saturate(0)', ''); // invert(1)
      } else {
        // bg.style.setProperty('filter', 'hue-rotate(' + hue + 'deg)', '');
        bg.style.setProperty('filter', 'hue-rotate(' + hue + 'deg)  saturate(0)', ''); // invert(1)

      }

    }, (5000 / 360.));
</script>
